// Fonts
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body, #app {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Varela Round', sans-serif;
}

.type {
  text-transform: uppercase;
  padding: .25em .5em;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  margin-right: 1em;

  &-normal {
    background: rgb(188, 186, 173);
  }

  &-ground {
    background: rgb(235, 201, 84);
  }

  &-water {
    background: rgb(85, 176, 255);
  }

  &-poison {
    background: rgb(164, 89, 156);
  }

  &-psychic {
    background: rgb(244, 97, 178);
  }

  &-grass {
    background: rgb(141, 216, 80);
  }

  &-ice {
    background: rgb(151, 241, 255);
  }

  &-fire {
    background: rgb(250, 85, 65);
  }

  &-rock {
    background: rgb(206, 189, 115);
  }

  &-dragon {
    background: rgb(137, 117, 255);
  }

  &-bug {
    background: rgb(195, 211, 25);
  }

  &-dark {
    background: rgb(143, 105, 85);
  }

  &-fighting {
    background: rgb(169, 85, 67);
  }

  &-ghost {
    background: rgb(121, 117, 215);
  }

  &-steel {
    background: rgb(197, 195, 220);
  }

  &-flying {
    background: rgb(120, 164, 255);
  }

  &-electric {
    background: rgb(253, 227, 55);
  }

  &-fairy {
    background: rgb(249, 176, 255);
  }
}